.Description {
  margin: 4 rem 6rem;
}
.Description h1 {
  font-size: 3rem;
}
.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4.5rem;
}
.des-txt {
  width: 100%;
  text-align: start;
  font-size: 1rem;
}
.des-txt p {
  width: 80%;
  text-align: start;
  font-size: 1rem;
}
.des-txt h2 {
  padding-bottom: 1rem;
  align-items: center;
}
.des-txt ol {
  width: 100%;
  text-align: left;
  font-size: 1rem;
}
